@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    padding: 0;
}

:root {
    --clr-common-white: #fff;
    --clr-common-black: #000;
    --clr-body-heading: #161616;
    --clr-body-heading2: #232323;
    --clr-body-text: #6a6a6a;
    --clr-body-text2: #878787;
    --clr-body-text3: #787878;
    --clr-theme-1: #ef0454;
    --clr-bg-gray: #f9f9f9;
    --clr-bg-gray2: #efefef;
    --clr-border-1: #474747;
    --clr-border-2: #757575;
    --clr-border-3: #303030;
    --clr-border-4: #e5e5e5;
    --clr-border-5: #d4d4d4;
    --clr-border-6: #dfdfdf;
}

.clr-theme-1 {
    color: var(--clr-theme-1);
}

.br-clr-theme-1 {
    background-color: var(--clr-theme-1);
}

.common-btn {
    position: relative;
    background-color: var(--clr-theme-1);
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
}

.common-btn::before {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 200px;
    transform: rotate(45deg);
    top: -170%;
    left: -100px;
    transition: all 0.7s linear;
}

.common-btn:hover::before {
    left: 220px;
}

.common-class span {
    position: relative;
}

.common-class h2 {
    color: var(--clr-body-heading);
}

.common-class p {
    color: var(--clr-body-text2);
}

.common-class span::before {
    position: absolute;
    content: "";
    top: 55%;
    left: 0;
    background-color: var(--clr-theme-1);
    width: 38px;
    height: 2px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.padding100 {
    padding: 100px 0px;
}

.paddingtop100 {
    padding-top: 100px;
}

.paddingbottom100 {
    padding-bottom: 100px;
}

/* header */
header {
    z-index: 999;
}

.nav-link {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: var(--clr-common-white);
}

.nav-link:hover {
    color: var(--clr-theme-1);
}

.dropdown-menu {
    border-top: 5px solid var(--clr-theme-1);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    width: 250px;
}

.dropdown-menu[data-bs-popper] {
    top: 105%;
}

.dropdown-menu li a {
    position: relative;
    color: var(--clr-body-heading);
    font-weight: 600;
    font-size: 17px;
    line-height: 45px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.dropdown-menu li .dropdown-item::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--clr-theme-1);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.dropdown-menu li .dropdown-item:hover::before {
    width: 100%;
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--clr-theme-1);
}

.bi {
    transition: all 0.4s;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.bi:hover {
    color: var(--clr-theme-1);
}

.bi:nth-child(1):hover {
    color: var(--clr-common-white);
}

.bi:nth-child(1) {
    border: 1px solid var(--clr-body-text);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-fluid {
    padding: 0;
}

/* hero section  */
.carousel-inner {
    position: relative;
}

.carousel-inner .carousel-item .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-inner .carousel-item img {
    animation: zoom 10s linear infinite;
    -webkit-animation: zoom 10s linear infinite alternate;
}

@keyframes zoom {
    from {
        transform: scale(100%);
        -webkit-transform: scale(100%);
        -moz-transform: scale(100%);
        -ms-transform: scale(100%);
        -o-transform: scale(100%);
    }

    to {
        transform: scale(150%);
        -webkit-transform: scale(150%);
        -moz-transform: scale(150%);
        -ms-transform: scale(150%);
        -o-transform: scale(150%);
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 25px;
}

.hero-section .hero-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10;
}

/* about section */
.about-section .about-image {
    position: relative;
    padding: 320px 0;
}

.about-section .about-image .image-1 {
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 10;
}

.about-section .about-image .image-2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.about-section .about-image .shape-1 {
    position: absolute;
    left: 60%;
    top: 0;
    z-index: 1;
    animation: shape-1 6s linear infinite alternate;
    -webkit-animation: shape-1 6s linear infinite alternate;
}

@keyframes shape-1 {
    from {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.about-section .about-image .shape-2 {
    position: absolute;
    left: 65%;
    top: 5%;
    z-index: 1;
    transform-origin: center;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    animation: shape-2 4s linear infinite alternate;
    -webkit-animation: shape-2 4s linear infinite alternate;
}

@keyframes shape-2 {
    from {
        left: 65%;
    }

    to {
        left: 80%;
    }
}

.about-section .about-image .shape-3 {
    position: absolute;
    left: -52%;
    top: 0;
    z-index: 0;
}

.about-section .about-image .shape-4 {
    position: absolute;
    left: -18%;
    top: 50%;
    z-index: 1;
}

.about-section .about-image .shape-5 {
    position: absolute;
    left: 37%;
    bottom: 0;
    z-index: 11;
    transform: translateX(1%);
    -webkit-transform: translateX(1%);
    -moz-transform: translateX(1%);
    -ms-transform: translateX(1%);
    -o-transform: translateX(1%);
    animation: shape-5 2.5s linear 0.5s infinite;
    -webkit-animation: shape-5 2.5s linear 0.5s infinite;
}

@keyframes shape-5 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}

.about-section .about-image .shape-6 {
    position: absolute;
    left: -10%;
    bottom: 15%;
    z-index: 0;
    animation: shape-6 2s linear infinite alternate;
    -webkit-animation: shape-6 2s linear infinite alternate;
}

@keyframes shape-6 {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    to {
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}

/* counter section */
.counter-section div {
    color: #000;
    font-size: 60px;
    font-weight: 700;
}

.counter-section p {
    color: var(--clr-body-text);
    font-size: 16px;
    font-weight: 400;
}

.counter-section .plus {
    font-size: 45px;
    font-weight: 600;
}

/* service section */
.service-section {
    background-color: var(--clr-bg-gray);
}

.service-section .service-intro {
    padding-top: 50px;
}

.service-section .service-image {
    border-radius: 5px;
    background: var(--clr-common-white);
    transition: all .3s ease-out 0s;
    padding: 38px 35px 30px;
    height: 90%;
    margin: 15px;
}

.service-section .service-image:hover {
    box-shadow: 0 20px 30px rgb(55 7 23 / 7%);
}

.service-section .service-image .images {
    width: 50px;
}

.service-section .service-image:hover .images {
    animation: bounce 1s ease-in-out 3;
}

@keyframes bounce {
    16.65% {
        transform: translateY(8px);
    }

    33.3% {
        transform: translateY(-6px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }
}

.service-section .service-image h4 {
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0;
    transition: all .3s ease-out 0s;
    cursor: pointer;
    width: fit-content;
}

.service-section .service-image h4:hover {
    color: var(--clr-theme-1);
}

.service-section .service-image p {
    color: var(--clr-body-text);
    font-size: 17px;
    font-weight: 400;
}

/* choose section */
.choose-section .choose-info .choose-details:hover img {
    animation: bounce 1s ease-in-out 3;
}

@keyframes bounce {
    16.65% {
        transform: translateY(8px);
    }

    33.3% {
        transform: translateY(-6px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }
}

.choose-section .choose-info .choose-details h5 {
    font-size: 21px;
}

.choose-section .choose-info .choose-details p {
    font-size: 17px;
    color: var(--clr-body-text);
}

.choose-section .choose-area-images {
    position: relative;
    padding: 293px 0;
}

.choose-section .choose-area-images .choose-area {
    position: absolute;
    top: 0;
    left: 0;
}

.choose-section .choose-1 {
    position: absolute;
    top: 50%;
    left: 11%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.choose-section .choose-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.choose-section .choose-3 {
    position: absolute;
    bottom: 0%;
    right: 0;
}

.choose-section .play-button {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
}

.choose-section .play-button::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -60px;
    left: -60px;
    margin: auto;
    width: 100%;
    height: 100%;
    border: 2px solid var(--clr-common-white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: popupbtn-2 1.8s linear 1s infinite;
}

@keyframes popupbtn-2 {
    from {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    to {
        width: 250%;
        height: 250%;
        opacity: 0;
    }
}

.choose-section .play-button::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -50px;
    left: -50px;
    margin: auto;
    width: 100%;
    height: 100%;
    border: 2px solid var(--clr-common-white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: popupbtn-1 1.8s linear infinite;
    -webkit-animation: popupbtn-1 1.8s linear infinite;
}

@keyframes popupbtn-1 {
    from {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    to {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.choose-section .play-button a {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
    line-height: 65px;
    background-color: var(--clr-theme-1);
    color: var(--clr-common-white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.choose-section .play-button i {
    border: none;
    font-size: 25px;
}

.choose-section .choose-shape-2 {
    position: absolute;
    top: 7%;
    left: 35%;
    z-index: -1;
    animation: choose-shape-2 2s linear infinite alternate;
}

@keyframes choose-shape-2 {
    from {
        top: 7%;
    }

    to {
        top: 15%;
    }
}

.choose-section .choose-shape-1 {
    position: absolute;
    top: -150px;
    right: -40px;
    z-index: -1;
}

/* portfolio section  */
.portfolio-section .portfolio-images .image .sub-image img {
    transition: all 0.5s;
    width: 100%;
}

.portfolio-section .portfolio-images .image:hover .sub-image img {
    transform: scale(110%);
}

.portfolio-section .portfolio-images .image {
    position: relative;
    overflow: hidden;
}

.portfolio-section .portfolio-images .image .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(hsla(0, 0%, 9%, .06), #9f0036);
    transition: all 0.5s;
    transform: translateY(100%);
    padding-top: 420px;
    padding-left: 40px;
}

.portfolio-section .portfolio-images .image:hover .hover-overlay {
    transform: translateY(0);
}

.portfolio-section .portfolio-images .image .hover-overlay h6 {
    font-size: 22px;
}

.portfolio-section .portfolio-btn a {
    position: relative;
    padding: 15px 50px;
    border: 1px solid var(--clr-theme-1);
    color: var(--clr-theme-1);
    transition: all 0.5s;
    overflow: hidden;
}

.portfolio-section .portfolio-btn a:hover {
    background-color: var(--clr-theme-1);
    color: var(--clr-common-white);
}

.portfolio-section .portfolio-btn a::before {
    position: absolute;
    content: "";
    top: -20px;
    left: -210px;
    background-color: var(--clr-common-white);
    opacity: 0.2;
    height: 50px;
    width: 200px;
    transform: rotate(-45deg);
    transition: all 0.5s;
}

.portfolio-section .portfolio-btn a:hover::before {
    left: 195px;
}

/* testimonial section  */
.testimonial-section {
    background-color: var(--clr-bg-gray);
}

.testimonial-section .bi:nth-child(1):hover {
    color: var(--clr-theme-1);
}

.testimonial-section .carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
}

.testimonial-section .carousel-item p {
    color: var(--clr-body-text);
}

.testimonial-section .carousel-item span {
    color: var(--clr-body-text);
    margin-bottom: 120px;
}

.testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(1),
.testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(2),
.testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(3),
.testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(4) {
    background-image: url(../image/testimonial-author-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px solid var(--clr-common-white);
}

.testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(2) {
    background-image: url(../image/testimonial-author-4.png);
}

.testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(3) {
    background-image: url(../image/testimonial-author-5.png);
}

.testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(4) {
    background-image: url(../image/testimonial-author-6.png);
}

.testimonial-section .carousel-indicators .active {
    transform: scale(110%);
    transition: all 0.5s;
}

/* blog section  */
.blog-section .blog-boxes .blog-image img {
    transition: all 0.5s;
    cursor: pointer;
}

.blog-section .blog-boxes:hover .blog-image img {
    transform: scale(110%);
}

.blog-section .blog-boxes .blog-content {
    background-color: var(--clr-bg-gray2);
}

.blog-section .blog-boxes .blog-content .date-chat i {
    font-size: 14px; 
    padding-right: 7px;
}

.blog-section .blog-boxes .blog-content .date-chat a {
    font-size: 14px;
    color: var(--clr-body-text);
    transition: all 0.5s;
}

.blog-section .blog-boxes .blog-content .date-chat a:hover {
    color: var(--clr-theme-1);
}

.blog-section .blog-boxes .blog-content h5 {
    color: var(--clr-body-heading);
    transition: all 0.5s;
    cursor: pointer;
}

.blog-section .blog-boxes .blog-content h5:hover {
    color: var(--clr-theme-1);
}

.blog-section .blog-boxes .blog-content .blog-author .name span {
    color: var(--clr-body-text);
}

.blog-section .blog-boxes .blog-content .blog-author .more span {
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.blog-section .blog-boxes .blog-content .blog-author .more span:hover {
    padding-left: 0;
    padding-right: 10px;
}

/* brand section */
.brand-section {
    background-color: var(--clr-bg-gray);
}

.brand-section .slider-1 img {
    width: 55%;
    display: block;
    margin: auto;
}



















/* media query */

/* ======================================
1200px to 1399px
====================================== */
@media (min-width: 1200px) and (max-width: 1399px) {

    /* about-us */
    .about-section .about-image .shape-5 {
        left: 28%;
    }

    .about-section .common-class h2 {
        font-size: 45px;
        margin-top: 10px;
    }

    /* choose-us */
    .choose-section .choose-2 {
        top: 8%;
    }

    .choose-section .choose-3 {
        bottom: 8%;
    }

    /* .portfolio-section */
    .portfolio-section .portfolio-images .image .hover-overlay {
        padding-top: 350px;
    }
}

/* ======================================
992px to 1199px
====================================== */
@media (min-width:992px) and (max-width:1199px) {

    /* about-us */
    .about-section .common-class h2 {
        font-size: 40px;
        margin-top: 10px;
    }

    .about-section .about-image .shape-5 {
        left: 36%;
    }

    /* choose-us */
    .choose-section .choose-1 {
        left: 8%;
    }

    .choose-section .choose-shape-1 {
        top: -150px;
    }

    /* .portfolio-section */
    .portfolio-section .portfolio-images .image .hover-overlay {
        padding-top: 280px;
    }

    .portfolio-section .portfolio-images .image .hover-overlay h6 {
        font-size: 20px;
    }
}

/* ======================================
991px to xs
====================================== */
@media (max-width: 991px) {

    /* header */
    header nav .b-dark {
        background-color: var(--clr-body-heading);
    }

    /* about-us */
    .about-section .common-class h2 {
        font-size: 40px;
        margin-top: 10px;
    }

    /* choose-us */
    .choose-section .choose-1 {
        width: 250px;
        left: 4%;
    }

    .choose-section .choose-2 {
        width: 250px;
        top: 6%;
    }

    .choose-section .choose-3 {
        width: 250px;
        bottom: 6%;
    }

    .choose-section .choose-shape-1 {
        width: 470px;
        top: -100px;
    }

    .choose-section .play-button {
        left: 45%;
    }

    /* .portfolio-section */
    .portfolio-section .portfolio-images .image .hover-overlay {
        padding-top: 320px;
    }

    .portfolio-section .portfolio-images .image .hover-overlay h6 {
        font-size: 22px;
    }
}

/* ======================================
768px to xs
====================================== */
@media (max-width: 768px) {

    /* about-us */
    .about-section .about-image .shape-1 {
        left: 70%;
    }

    .about-section .about-image .shape-2 {
        left: 80%;
    }

    @keyframes shape-2 {
        from {
            left: 80%;
        }

        to {
            left: 95%;
        }
    }
}

/* ======================================
767px to 576
====================================== */
@media (max-width: 767px) and (min-width: 576px) {

    /* choose-us */
    .choose-section .choose-1 {
        width: 250px;
        left: 0;
    }

    .choose-section .choose-2 {
        width: 250px;
        top: 6%;
        right: 5%;
    }

    .choose-section .choose-3 {
        width: 250px;
        bottom: 6%;
        right: 5%;
    }

    .choose-section .choose-shape-1 {
        width: 470px;
        top: -100px;
        right: 0;
    }

    .choose-section .play-button {
        left: 40%;
    }

    /* .portfolio-section */
    .portfolio-section .portfolio-images .image .hover-overlay {
        padding-top: 550px;
    }

    .portfolio-section .portfolio-images .image .hover-overlay h6 {
        font-size: 35px;
    }
}

/* ======================================
575px to 530px
====================================== */
@media (min-width: 530px) and (max-width: 575px) {

    /* about-us */
    .about-section .about-image .image-1 {
        right: 0;
    }

    /* choose-us */
    .choose-section .choose-2 {
        width: 285px;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .choose-section .choose-3 {
        width: 285px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .choose-section .play-button {
        left: 40%;
    }

    /* .portfolio-section */
    .portfolio-section .portfolio-images .image .hover-overlay {
        padding-top: 300px;
    }

    .portfolio-section .portfolio-images .image .hover-overlay h6 {
        font-size: 35px;
    }
}

/* ======================================
529px to xs
====================================== */
@media (max-width: 529px) {

    /* about-us */
    .about-section .about-image .image-1,
    .about-section .about-image .shape-1,
    .about-section .about-image .shape-2 {
        display: none;
    }

    .about-section .about-image .image-2 {
        width: 90%;
        height: 90%;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .about-section .about-image .shape-6 {
        bottom: 0;
    }

    .about-section .common-class {
        text-align: center;
    }

    .about-section .common-class h2 {
        font-size: 28px;
    }

    /* choose-us */
    .choose-section .choose-2 {
        width: 285px;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .choose-section .choose-3 {
        width: 285px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .choose-section .play-button {
        left: 40%;
    }

    /* .portfolio-section */
    .portfolio-section .portfolio-images .image .hover-overlay {
        padding-top: 300px;
    }

    .portfolio-section .portfolio-images .image .hover-overlay h6 {
        font-size: 20px;
    }

    /* testimonial section */

    .testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(1),
    .testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(2),
    .testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(3),
    .testimonial-section .carousel-dark .carousel-indicators [data-bs-target]:nth-child(4) {
        width: 40px;
        height: 40px;
    }
}